<h2>Login</h2>

<% if @errors %>
  <% @errors.each do |error| %>
    	<%= error %>
  <% end %>
 <% end %>

<form id="login_form" method="post" action="/sessions">
  <input type="text" name="user[username]" placeholder="username" />
  <input type="password" name="user[password]" placeholder="password" />
  <button class="btn waves-effect waves-light" type="submit" name="action">
    <i class="material-icons right">Submit</i>
  </button>
</form>
<br>