<div class="section no-pad-bot" id="index-banner">
<div class="row center">
   <h1><%= current_user.username %>'s Profile</h1>
 </div>
    <div class="container">
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Create A New Set</a>
      </div>
    </div>
  </div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
        <a href="/decks" id="download-button" class="btn-large waves-effect waves-light orange">View All Sets of Flashcards</a>
      </div>
    </div>
  </div>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">View User Stats</a>
      </div>
      <br><br>
  </div>
</div>
