<h1><%= @deck.title %></h1>

<form action="/card/<%= @deck.id %>/<%= @top_card %>" method="post">
	<label for="card_question_input"><%= @question %></label>
	<input id="card_question_input" name="guess[user_guess]" type="text">
	<input type="submit" value="Submit">
</form>