<h1> Deck Cards</h1>

<div class="container center">
  <ul class="collection">
    <% @cards.each do |card| %>
      <li class="collection-item"><a href="#"><%= card.question %></a></li>
      <% end %>
  </ul>
 </div>