<h1><center>FlashCards</h1>

 <div class="container center">
  <ul class="collection">
    <% @deck_iteration.each do |i| %>
      <li class="collection-item"><a href="#Link to show page for deck"><%= i.title %></a></li>
      <% end %>
  </ul>
 </div>







