<h1><center>FlashCards</h1>

 <div class="container center">
  <ul class="collection">
    <% @decks.each do |deck| %>
      <li class="collection-item"><a href="decks/<%= deck.id %>"><%= deck.title %></a></li>
      <% end %>
  </ul>
 </div>







